body > .ant-layout {
  height: 100vh;
}

body > .ant-layout > .ant-layout-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}
